:root {
  --color-primary-lll: hsl(210, 82%, 96%);
  --color-primary-ll: hsl(210, 82%, 91%);
  --color-primary-l: hsl(210, 82%, 60%);
  --color-primary: hsl(210, 82%, 38.8%);
  --color-primary-d: hsl(210, 82%, 30%);

  --color-secondary: #c58971;
  --color-secondary-d: #633424;
  --color-tertiary: #e4dcc2;
  --color-tertiary-d: #e0885c;

  --color-neutral-000: hsl(216, 33%, 97%);
  --color-neutral-100: hsl(214, 15%, 91%);
  --color-neutral-200: hsl(210, 16%, 82%);
  --color-neutral-300: hsl(211, 13%, 65%);
  --color-neutral-400: hsl(211, 10%, 53%);
  --color-neutral-500: hsl(211, 12%, 43%);
  --color-neutral-600: hsl(209, 14%, 37%);
  --color-neutral-700: hsl(209, 18%, 30%);
  --color-neutral-800: hsl(209, 20%, 16%);
  --color-neutral-900: hsl(210, 24%, 12%);

  --color-success-000: hsl(125, 65%, 93%);
  --color-success-100: hsl(127, 65%, 85%);
  --color-success-200: hsl(124, 63%, 74%);
  --color-success-300: hsl(123, 53%, 55%);
  --color-success-400: hsl(123, 57%, 45%);
  --color-success-500: hsl(122, 73%, 35%);
  --color-success-600: hsl(122, 80%, 29%);
  --color-success-700: hsl(125, 79%, 26%);
  --color-success-800: hsl(125, 86%, 20%);
  --color-success-900: hsl(125, 97%, 14%);

  --color-danger-000: hsl(0, 100%, 95%);
  --color-danger-100: hsl(0, 100%, 87%);
  --color-danger-200: hsl(0, 100%, 80%);
  --color-danger-300: hsl(0, 91%, 69%);
  --color-danger-400: hsl(0, 83%, 62%);
  --color-danger-500: hsl(356, 75%, 53%);
  --color-danger-600: hsl(354, 85%, 44%);
  --color-danger-700: hsl(352, 90%, 35%);
  --color-danger-800: hsl(350, 94%, 28%);
  --color-danger-900: hsl(348, 94%, 20%);

  --color-info-000: hsl(29.1, 100%, 96%);
  --color-info-100: hsl(29.1, 90%, 88%);
  --color-info-200: hsl(29.1, 86%, 81%);
  --color-info-300: hsl(29.1, 90%, 76%);
  --color-info-400: hsl(29.1, 89%, 70%);
  --color-info-500: hsl(29.1, 92%, 56.1%);
  --color-info-600: hsl(29.1, 63%, 48%);
  --color-info-700: hsl(29.1, 72%, 37%);
  --color-info-800: hsl(29.1, 77%, 27%);
  --color-info-900: hsl(29.1, 86%, 17%);

  --ff0: "Inter", sans-serif;
  --ff1: "Roboto Slab", sans-serif;

  /* type scale */
  --fs0: 13px;
  --fs1: 14px;
  --fs2: 15px;
  --fs3: 16px;
  --fs4: 17px;
  --fs5: 18px;
  --fs6: 22px;
  --fs7: 28px;
  --fs8: 34px;
  --fs9: 48px;
  --fsA: 60px;
  --fsB: 72px;

  /* spacing */
  --sp0: 2px;
  --sp1: 4px;
  --sp2: 8px;
  --sp3: 12px;
  --sp4: 16px;
  --sp5: 24px;
  --sp6: 32px;
  --sp7: 48px;
  --sp8: 64px;
  --sp9: 96px;
  --spA: 128px;
  --spB: 256px;
  --spC: 384px;
  --spD: 512px;
  --spE: 640px;
  --spF: 768px;

  /* border-radius */
  --br0: 1px;
  --br1: 2px;
  --br2: 4px;
  --br3: 8px;
  --br4: 12px;
  --br5: 16px;
  --br6: 20px;

  --z-index-sidebar: 2;
  --z-index-header-menu: 3;
  --z-index-header: 4;
  --z-index-floating-action-button: 5;
  --z-index-dialog-overlay: 6;
  --z-index-dialog-content: 7;
  --z-index-tooltip: 8;
  --z-index-popover: 9;
  --z-index-toast: 10;

  --form-control-height: 42px;
  --form-control-sm-height: 36px;
  --form-control-xs-height: 30px;
  --form-control-border-radius: var(--br2);
  --form-control-padding-horizontal: var(--sp4);

  --button-height: 38px;
  --button-padding: 0 26px;
  --button-border-radius: var(--br2);
  --button-font-size: var(--fs2);

  --button-primary-background-color: var(--color-secondary);
  --button-primary-color: black;
  --button-primary-border: 2px solid var(--color-secondary);
  --button-primary-font-weight: 500;
  --button-primary-text-transform: none;

  --button-danger-background-color: var(--color-danger-600);
  --button-danger-color: white;
  --button-danger-border: 2px solid var(--color-danger-600);
  --button-danger-font-weight: 500;
  --button-danger-text-transform: none;

  --button-neutral-text-transform: none;

  --button-secondary-background-color: white;
  --button-secondary-color: var(--color-primary);
  --button-secondary-border: 2px solid var(--color-primary);
  --button-secondary-font-weight: 500;
  --button-secondary-text-transform: none;

  --button-secondary-danger-background-color: white;
  --button-secondary-danger-color: var(--color-danger-500);
  --button-secondary-danger-border: 2px solid var(--color-danger-500);
  --button-secondary-danger-font-weight: 500;
  --button-secondary-danger-text-transform: none;

  --button-tertiary-background-color: white;
  --button-tertiary-color: var(--color-secondary-d);
  --button-tertiary-border: 2px solid var(--color-secondary);
  --button-tertiary-font-weight: 500;
  --button-tertiary-text-transform: none;

  --button-transparent-primary-text-transform: none;

  --button-transparent-neutral-text-transform: none;

  --button-sm-height: 34px;
  --button-sm-padding: 0 16px;
  --button-sm-border-radius: var(--br2);
  --button-sm-font-size: var(--fs2);
  --button-xs-height: 30px;
  --button-xs-padding: 0 16px;
  --button-xs-border-radius: var(--br2);
  --button-xs-font-size: var(--fs1);
  --button-xxs-height: 26px;
  --button-xxs-padding: 0 11px;
  --button-xxs-border-radius: var(--br2);
  --button-xxs-font-size: var(--fs1);

  --label-font-size: var(--fs2);
  --label-font-weight: 500;

  --card-border-radius: var(--br2);
  --card-box-shadow: none;

  --list-border: 1px solid var(--color-neutral-100);
}

@media screen and (hover: hover) and (min-width: 768px) {
  :root {
    --pg-margin-block-end: var(--sp8);
  }
}
