.navList {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: end;
  gap: var(--sp0);
  overflow-x: auto;
  position: relative;
  border-block-end: 1px solid var(--color-neutral-200);
}

.link {
  display: block;
  line-height: 1;
  color: var(--color-neutral-500);
  font-size: var(--fs1);
  font-weight: 500;
  color: var(--color-neutral-800);
  padding: var(--sp2) var(--sp6) var(--sp2);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  position: relative;
  background-color: white;
  border-top-left-radius: var(--br2);
  border-top-right-radius: var(--br2);
  border-top: 1px solid var(--color-neutral-200);
  border-left: 1px solid var(--color-neutral-200);
  border-right: 1px solid var(--color-neutral-200);
}

.link:focus {
  border-color: var(--color-secondary);
}

.link:hover,
.link:active {
  color: var(--color-neutral-700);
}

.linkActive,
.linkActive:hover,
.linkActive:active,
.linkActive:focus {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary-d);
}

.navTabLayout {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  gap: var(--sp2);
}

.link svg {
  color: var(--color-neutral-300);
}

.linkActive svg,
.linkActive:hover svg,
.linkActive:active svg {
  color: var(--color-neutral-500);
}
